<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카테고리 컴포넌트</title>
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/typescript/category.ts"></script>
  </head>
  <body>
    <!-- ajax 이용 -->
    <nav>
      <button type="button">종합</button>
      <button type="button">정치</button>
      <button type="button">경제</button>
      <button type="button">사회</button>
      <button type="button">생활/문화</button>
      <button type="button">세계</button>
      <button type="button">IT/과학</button>
    </nav>
    <article>
      <div></div>
    </article>
  </body>
</html>
