<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/main.ts"></script>
    <title>footer-component</title>
  </head>
  <body>
    <footer class="min-w-[561px] h-[50px]">
      <div class="flex justify-between px-12 gap-4">
        <nav aria-label="사이트 정책">
          <ul class="flex gap-6">
            <li class="inline-block">
              <a href="/" title="개인정보처리방침 페이지로 이동"
                >개인정보처리 방침</a
              >
            </li>
            <li class="inline-block">
              <a href="/" title="이용약관 페이지로 이동">이용약관</a>
            </li>
          </ul>
        </nav>
        <address>
          <p class="inline-block"><span>Copyrights © 2025 | 8joBibim</span></p>
          <p class="inline-block">
            <span>Website by kyungmin, yeono, hyunji, sunjin</span>
          </p>
        </address>
      </div>
    </footer>
  </body>
</html>
